body{
    background-color: black;
}
.container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    font-size: 3em;
}
p{
    color: white;
}
img{
    border: 5px solid white;
    width: 50%;
}